Options +FollowSymlinks

RewriteEngine On

# usun ponizsza linie. zostala dodana na potrzeby zend cloud
#RewriteBase /universalzf

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
